.labelBox header {
    text-align: center;
}

.labelBox header > * {
    display: inline-block;
    vertical-align: middle;
}

.labelBox header > img {
    margin-left: 10px;
    margin-top: -15px;
}

.labelBox .buttonBar {
    display: block;
    text-align: center;
}